html(lang="en")
   head
      title
         | title
   body
      script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")

      h2
         | Guess
      p
         |Comment:
         = ' ' + locals.comment
         br
         | Subreddit: ?
         
      form(id="guessForm", method="post", action="/guess")
         each subreddit, index in locals.guessSubreddits
            unless index
               label(for="subreddit" + index)=subreddit
               input(type="radio", name="subredditGuess", id="subreddit" + index, value="" + subreddit, checked)
               br
               br
            else
               label(for="subreddit" + index)=subreddit
               input(type="radio", name="subredditGuess", id="subreddit" + index, value="" + subreddit)
               br
               br
         input(type="submit", name="guess", id="guess", value="Guess!")
