html(lang="en")
   head
      title
         | Title
   body
      p
         | Welcome
         = ' ' + locals.user
         br
         a(href="/signout", title="sign out")
            | sign out
         br
         a(href="/guess", title="guess")
            | guess
