html(lang="en")
   head
      title
         | Title
   body
      p
         | Welcome username 
         a(href="/signout", title="sign out")
            | sign out
         a(href="/guess", title="guess")
            | guess
